$tolopea: #21064a;
$paris-m: #230868;
$blue-gem: #301c89;
$meteorite: #342077;
$jagger: #3d1159;
$valentino: #3e0f3e;
$scarlet-gum: #4c165c;
$honey-flower: #532573;
$rich-electric-blue: #0098db;
$deep-sky-blue: #00bffe;
$seagull: #84cded;
$charlotte: #b7f3ff;
$carmine: #a30320;
$bright-maroon: #c6124e;
$crimson: #e0123c;
$folly: #ff005f;
$shamrock: #3bd4ad;
$downy: #6edec2;
$caribbean-green: #17c396;
$free-speech-aquamarine: #119d72;
